{% extends "manager/base.html" %}
{% load static %}

{% block manager_statics %}
    <script src={% static "js/manager/register_list.js" %}></script>
    <script src={% static "js/search.js" %}></script>

    <link href={% static "css/manager/register_list.css" %} rel="stylesheet">
{% endblock %}

{% block manager_content %}
    <div class="wrap">
        <div class="console">
            <form class="row g-3" id="searchForm" method="GET" action={% url "manager:register_list" %}>
                <div class="col-auto">
                    <select id="filter" class="form-select" name="filter">
                        <option selected>이름</option>
                        <option>이메일</option>
                        <option>연락처</option>
                    </select>
                </div>
                <div class="col-auto">
                  <input type="text" class="form-control" id="inputSearch" name="keyword">
                </div>
                <div class="col-auto">
                  <button type="button" class="btn btn-primary mb-3" id="searchBtn" placeholder="30글자 이하">검색</button>
                </div>
            </form>
            <button id="approvalBtn" value="1" class="button-basic">승인</button>
            <button id="rejectBtn" value="3" class="button-basic">반려</button>
        </div>
        <div>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">이름</th>
                    <th scope="col">성별</th>
                    <th scope="col">생년월일</th>
                    <th scope="col">이메일</th>
                    <th scope="col">연락처</th>
                    <th scope="col">신청일</th>
                    <th scope="col">상태</th>
                    <th scope="col">선택</th>
                  </tr>
                </thead>
                <tbody>
                    {% for artist in artists%}
                        <tr>
                            <td>{{ artist.name }}</td>
                            <td>{{ artist.gender }}</td>
                            <td>{{ artist.birthday }}</td>
                            <td>{{ artist.email }}</td>
                            <td>{{ artist.phone }}</td>
                            <td>{{ artist.signup_date }}</td>
                            <td>{{ artist.status_status }}</td>
                            <td>
                                {% if artist.status == 2 %}
                                    <input type="checkbox" name="artist" value={{ artist.id }}>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
{% endblock %}