{% extends "artist/base.html" %}
{% load static %}

{% block artist_statics %}
    <link href={% static "css/artist/dashboard.css" %} rel=stylesheet>
{% endblock %}

{% block artist_content %}
    <div class="wrap">
        <div class="artist-info">
            <h3>{{ artist.name }}</h3>
            <div>
                <p>{{ artist.gender }}</p>
                <p>{{ artist.birthday }}</p>
            </div>
            <div>
                <p>{{ artist.email }}</p>
                <p>{{ artist.phone }}</p>
            </div>
        </div>
        <div class="container">
            <h4>작품</h4>
            <div class="div-card-list">
                {% for work in works %}
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ work.title }}</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{ work.size }}호</li>
                            <li class="list-group-item">{{ work.price }}원</li>
                        </ul>
                    </div>
                {% endfor %}
            </div>
            <h4>전시</h4>
            <div class="div-card-list">
                {% for exhibition in exhibition_list %}
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ exhibition.title }}</h5>
                            <p class="card-text">{{ exhibition.start_date }} ~ {{ exhibition.end_date }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}