{% extends "artist/base.html" %}
{% load static %}

{% block statics %}
    <script src={% static "js/register_exhibition.js" %}></script>
    <script src={% static "js/re.js" %}></script>
    <script src={% static "js/check_date.js" %}></script>
{% endblock %}

{% block artist_content %}
    <div>
        <h1>전시 등록</h1>
        <form id="newExhibitionForm" class="row g-3" method="post" action={% url "artist:exhibition" %}>
            {% csrf_token %}
            <div class="col-12">
                <label for="title" class="form-label">제목</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="64글자 이하">
            </div>
            <div class="col-md-6">
                <label for="startDate" class="form-label">시작일</label>
                <input type="text" class="form-control" id="startDate" name="start_date" placeholder="YYYY-MM-DD">
            </div>
            <div class="col-md-6">
                <label for="endDate" class="form-label">종료일</label>
                <input type="text" class="form-control" id="endDate" name="end_date" placeholder="YYYY-MM-DD">
            </div>
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                        <th scope="col">제목</th>
                        <th scope="col">호수</th>
                        <th scope="col">선택</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for work in works %}
                            <tr>
                                <td>{{ work.title }}</td>
                                <td>{{ work.size }}</td>
                                <td><input type="checkbox" name="work" value={{ work.id }}></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-12">
                <button type="button" class="btn btn-primary" id="submitBtn">전시 등록</button>
            </div>
        </form>
    </div>
{% endblock %}