{% extends "base.html" %}
{% load static %}

{% block statics %}
  <script src="{% static "js/register_artist.js" %}"></script>
  
  {% if user.is_anonymous %}
  <script>
    alert("로그인 후 이용 가능합니다!")
    window.location.href = "/login"
  </script>
  {% endif %}
{% endblock %}

{% block content %}
<div>
  <form id="newArtistForm" method="post" action={% url "new_artist" %} class="row g-3">
      {% csrf_token %}
      <div class="col-md-4">
        <label for="name" class="form-label">이름</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="16글자 이하">
      </div>
      <div class="col-md-2">
        <label for="gender" class="form-label">성별</label>
        <select id="gender" class="form-select" name="gender">
          <option selected>여자</option>
          <option>남자</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="birthday" class="form-label">생년월일</label>
        <input type="text" class="form-control" id="birthday" name="birthday" placeholder="YYYY-MM-DD">
      </div>
      <div class="col-md-6">
        <label for="email" class="form-label">이메일</label>
        <input type="email" class="form-control" id="email" name="email">
      </div>
      <div class="col-md-6">
        <label for="phone" class="form-label">연락처</label>
        <input type="text" class="form-control" id="phone" name="phone" placeholder="010-1234-5678">
      </div>
        <div class="col-12">
        <button type="button" class="btn btn-primary" id="submitBtn">Sign in</button>
      </div>
  </form>
  <a href={% url "index" %}>메인으로</a>
</div>
{% endblock %}