{% extends "artist/base.html" %}
{% load static %}

{% block statics %}
    <script src={% static "js/artist/register_work.js" %}></script>
    <script src={% static "js/re.js" %}></script>
    <script src={% static "js/check_date.js" %}></script>
{% endblock %}

{% block artist_content %}
    <div>
        <h1>작품 등록</h1>
        <form id="newWorkForm" method="post" action={% url "artist:work" %}>
            {% csrf_token %}
            <div class="row mb-3">
                <label for="title" class="col-sm-2 col-form-label">제목</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="title" name="title" placeholder="64글자 이하">
                </div>
            </div>
            <div class="row mb-3">
                <label for="price" class="col-sm-2 col-form-label">가격</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="price" name="price">
                </div>
            </div>
            <div class="row mb-3">
                <label for="size" class="col-sm-2 col-form-label">호수</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="size" name="size" placeholder="1 ~ 500">
                </div>
            </div>
            <button type="button" class="btn btn-primary" id="submitBtn">작품 등록</button>
        </form>
        <a href={% url "artist:dashboard" %}>대시보드로</a>
    </div>
{% endblock %}