{% extends "artist/base.html" %}

{% block statics %}
{% endblock %}

{% block artist_content %}
    <div>
        <h1>전시 등록</h1>
        <form>
            <p>제목 <input type="text"></p>
            <p>시작일 <input type="text"></p>
            <p>종료일 <input type="text"></p>
            <div>
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">제목</th>
                        <th scope="col">호수</th>
                        <th scope="col">선택</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for work in works %}
                            <tr>
                                <td>{{ work.title }}</td>
                                <td>{{ work.size }}</td>
                                <td><input type="checkbox" name="work" value={{ work.id }}></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
    </div>
{% endblock %}