{% extends "base.html" %}

{% block statics %}
{% endblock %}

{% block content %}
    <div>
    {% if user.is_authenticated %}
        <p>{{user}}님 안녕하세요!</p>
        <button onclick="logout()">로그아웃</button>
    {% else %}
        <p><a href={% url "signup" %}>회원가입</a></p>
        <p><a href={% url "login" %}>로그인</a></p>
    {% endif %}
    </div>
    <a href={% url "info" "artist" %}>작가 조회</a>
    <a href={% url "info" "work" %}>작품 조회</a>
    {% if user_type == "admin" %}
        <a href={% url "manager:dashboard" %}>관리자 페이지</a>
    {% elif user_type == "artist" %}
        <a href={% url "artist:dashboard" %}>작가 페이지</a>
    {% elif user_type == "waiting" %}
        <a>대기 중</a>
    {% else %}
        <a href={% url "artist:signup" %}>작가 등록</a>
    {% endif %}
{% endblock %}