{% extends "base.html" %}

{% load static %}

{% block statics %}
    <link href={% static 'css/index.css' %} rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="wrap">
        <div class="top">
        {% if user.is_authenticated %}
            <p class="greeting">{{user}}님 안녕하세요!</p>
            <button onclick="logout()" class="button-logout">로그아웃</button>
        {% else %}
            <a class="a-signinup" href={% url "signup" %}>회원가입</a>
            <a class="a-signinup" href={% url "login" %}>로그인</a>
        {% endif %}
        </div>
        <div class="container">
            <a href={% url "info" "artist" %}><div class="div-basic div-pink">작가 조회</div></a>
            <a href={% url "info" "work" %}><div class="div-basic div-pink">작품 조회</div></a>
            {% if user_type == "admin" %}
                <a href={% url "manager:dashboard" %}><div class="div-basic div-green">관리자 페이지</div></a>
            {% elif user_type == "artist" %}
                <a href={% url "artist:dashboard" %}><div class="div-basic div-yellow">작가 페이지</div></a>
            {% elif user_type == "waiting" %}
                <div class="div-basic div-gray">대기 중</div>
            {% else %}
                <a href={% url "artist:signup" %}><div class="div-basic div-pink">작가 등록</div></a>
            {% endif %}
        </div>
    </div>
{% endblock %}