{% extends "base.html" %}

{% block statics %}
{% endblock %}

{% block content %}
<div>
    <input type="text">
    <div>
        <a href={% url "info" "artist" %}>작가 조회</a>
        <a href={% url "info" "work" %}>작품 조회</a>
        {% if user.is_authenticated %}
            <button onclick="logoutButton()">로그아웃</button>
        {% else %}
            <a href={% url "login" %}>로그인</a>
        {% endif %}
    </div>
</div>
<div>
    {% if type == "artist" %}
        {% for artist in artists %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ artist.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ artist.gender }}, {{ artist.birthday }}</h6>
                    <a href="mailto:{{ artist.email }}" class="card-link">{{ artist.email }}</a>
                    <a href="tel:{{ artist.phone }}" class="card-link">{{ artist.phone }}</a>
                </div>
            </div>
        {% endfor %}

    {% elif type == "work" %}
          {% for work in works %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ work.title }}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ work.size }}호</li>
                    <li class="list-group-item">{{ work.price }}원</li>
                </ul>
            </div>
          {% endfor %}
    {% endif%}
</div>
{% endblock %}