{% extends "base.html" %}

{% block statics %}
{% endblock %}

{% block content %}
<div>
    <form class="row g-3">
        <div class="col-md-4">
          <label for="name" class="form-label">이름</label>
          <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="col-md-2">
          <label for="gender" class="form-label">성별</label>
          <select id="gender" class="form-select" name="gender">
            <option selected>여자</option>
            <option>남자</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="birthday" class="form-label">생년월일</label>
          <input type="text" class="form-control" id="birthday" name="birthday">
        </div>
        <div class="col-md-6">
            <label for="email" class="form-label">이메일</label>
            <input type="email" class="form-control" id="email" name="email">
          </div>
          <div class="col-md-6">
            <label for="phone" class="form-label">연락처</label>
            <input type="text" class="form-control" id="phone" name="phone">
          </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </form>
</div>
{% endblock %}