.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container > a {
    margin: 30px;
}

.div-basic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
}

.div-pink {
    background-color: rgb(255, 153, 153);
}
.div-pink:hover {
    background-color: rgb(255, 182, 193);
}