{% extends "base.html" %}
{% load static %}

{% block statics %}
    <link href={% static "css/user/sign_inup.css" %} rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="wrap">
        <div class="container">
            <form method="POST" action={% url "login" %} class="form-basic">
                {% csrf_token %}
                <div class="row mb-3">
                    <label for="userId" class="col-sm-2 col-form-label">ID</label>
                    <div class="col-sm-10">
                    <input type="text" class="form-control" id="userId" name="username">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="password" class="col-sm-2 col-form-label">PW</label>
                    <div class="col-sm-10">
                    <input type="password" class="form-control" id="password" name="password">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">로그인</button>
            </form>
            <p class="p-basic"><a href={% url "signup" %} class="a-sign-inup">처음이신가요? 회원가입 하기!</a></p>
            <p class="p-basic"><a href={% url "index" %}>Home</a></p>
        </div>
    </div>
{% endblock %}